# ----------------------
# Flask
# ----------------------
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
flask

# ----------------------
# Production Server
# ----------------------
gunicorn
